<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%- title %> | CSE Motors</title>
    <meta name="description" content="This site uses backend to Development CSE Motors App.">
    <meta name="author" content="Uchenna Onuorah">
    <link rel="stylesheet" href="/css/styles.css">
</head>