<body>
  <header>
    <h1><a href="/" title="Return to home page">CSE Motors</a></h1>
    
    <div class="welcome">
      <% if (loggedin) { %>
      <h2><a href="/account/">Welcome <%= accountData.account_firstname %></a></h2>
      <h2><a href="/account/logout">Logout</a></h2>
      <% } else { %>
      <h2><a href="/account/login">My Account</a></h2>
      <% } %>
    </div>
  </header>