<main>
    <h1>Welcome to CSE Motors!</h1>
    <%- messages() %>
    <section class="hero">
        <div class="hero-img">
          <img src="../images/vehicles/delorean.jpg" alt="Delorean">
          <div id="info">
            <h2>DMC Delorean</h2>
            <p>3 Cup holders</p>
            <p>Superman doors</p>
            <p>Fuzzy dice!</p>
            <button class="btn">Own Today</button>
          </div>
        </div>
    </section>      
    <section class="featured-vehicles">
        <div class="upgrades">
            <div>
                <h2>Delorean Upgrades</h2>
            </div>    
            <div class="vehicle-grid"> 
                <div class="img-cont">
                    <div>   
                        <img src="../images/upgrades/flame.jpg" alt="flame picture">
                    </div>    
                    <a href="flame">flame</a>
                </div>
                <div class="img-cont">
                    <div>     
                        <img src="../images/upgrades/flux-cap.png" alt="flux-cap picture">
                    </div>    
                    <a href="flux-cap">flux-cap</a>
                </div>    
                <div class="img-cont">
                    <div>    
                        <img src="../images/upgrades/hub-cap.jpg" alt="hub-cap picture">
                    </div>    
                    <a href="hub-cap">hub-cap</a>
                </div>
                <div class="img-cont">
                    <div>    
                        <img src="../images/upgrades/bumper_sticker.jpg" alt="bumper_sticker picture">
                    </div>    
                    <a href="bumper_sticker">bumper_sticker</a>
                </div>    
            </div>
        </div>    
        <div class="reviews">
            <h2>DMC Delorean Reviews</h2>    
            <ul>
                <li>"So fast its almost like travelling in time." (4/5)</li>
                <li>"Coolest ride on the road." (4/5)</li>
                <li>"I'm feeling McFly!." (4/5)</li>
                <li>"The most futuristic ride of our days." (4.5/5)</li>
                <li>"80's livin and i love it." (5/5)</li>
            </ul>
        </div>
    </section>
</main>