<div class="classification">
  <% if (message) { %>
    <div class="flash-message"><%= message %></div>
  <% } %>


  <form method="post" action="/inv/add-classification">
    <label for="classification_name">Classification Name</label>
    <input name="classification_name" id="classification_name" type="text" pattern="^[A-Za-z0-9]+$" required>
    <button type="submit">Add Classification</button>
  </form>
</div>

