<h1>Manage Classifications</h1>

<% if (message && message.length > 0) { %>
  <div class="notice"><%= message[0] %></div>
<% } %>

<% if (accountData && accountData.account_type === "Admin") { %>
  <ul>
    <% classifications.forEach(classification => { %>
      <li>
        <form action="/inv/delete-classification" method="POST" onsubmit="return confirm('Are you sure you want to delete <%= classification.classification_name %>?')">
          <%= classification.classification_name %>
          <input type="hidden" name="classification_id" value="<%= classification.classification_id %>">
          <button type="submit">Delete</button>
        </form>
      </li>
    <% }); %>
  </ul>
<% } else { %>
  <p>You are not authorized to perform this action.</p>
<% } %>
