 <!--<h1><%= title %></h1>
  <section>
    <p><%- message %></p>
    <p>Looks like something broke. Even our server is crying 😢</p>
    <p><a href="/">Go back to the homepage</a></p>
  </section>
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Server Error</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <h1>Server Error</h1>
    </header>
    <main>
        <p>We encountered an unexpected issue.</p>
        <p>Oops! Something Went Wrong</p>
        <a href="/">Go Back to Home</a>
    </main>
</body>
</html>  


